<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="seen">
                <ol>
                    <todo-item
                            v-for="(item, index) in todos"
                            v-bind:todo="item"
                            v-bind:key="index">
                    </todo-item>
                </ol>
            </div>
            <div>
                <p>{{message}}</p>
                <input v-model="message" />
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
